@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
  padding: 0;
  margin: 0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  position: absolute;
}
.head-cont{
  padding: 20px 20px 15px 30px !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  background: #22242A;
}
.head-cont .medlogo{
  position: relative;
  height: 40px;
  width: 40px;
}
#page-content-wrapper {
    position: absolute;
    width: 100%;
    top: 10px !important;
    left: 10px !important;
}

.head-cont h3{
  position: absolute;
  left: 50px;
  color: #CFD8DC;
    font-size: 3em;
    font-weight: 900;
}
h3 span{
  color: #1DC4E7;
}

.login{
  position: absolute;
  background: #1983D3;
  top: 20px;
  right:20px;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
}
.login a{
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.login:hover{
  background-color: crimson;
}


/* 
HEADER */

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}
/* 
searchbar */

button{
  cursor: pointer;
}

.searchTerm {
  width: 300px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 40px;
  top: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  cursor:pointer ;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* 
searchbar */

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/



.hamburger {
  top: 30px;
  position: fixed;
  z-index: 1;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  transform: translate3d(-100px,0,0);
  transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #1a1a1a;
}


.hamburger.is-closed .hamb-top { 
  top: 5px; 
 transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
 transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
 transform: rotate(45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  transform: rotate(-45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.sidebar{
    background: #2F323A;
    top: 20%;
    position: fixed;
    left: -250px;
    width: 250px;
    transition: 0.5s;
    transition-property: left;
    z-index: 20;
}
.sidebar ul{
  width: 250px;
  background: #2F323A;
  z-index: 20;
}
.sidebar ul li{
  border-bottom: 1px solid #CFD8DC;
  z-index: 20;
}
.sidebar ul li a span{
  padding: 0 10px 0 10px;
  z-index: 20;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    z-index: 20;
}
.sidebar a:hover{
    background: #1983D3;
    color: crimson;
}


label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: poiter;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #19B3D3;
}
#check:checked ~ .sidebar{
    left: -190px !important;
}
#check:checked ~ .sidebar a span{
    display: none !important;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

/* 
ADDED  side bar */
 main{
    position: relative;
   height: 100vh;
    width: 100%;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}
.neumor{
    position: relative;
    width: 430px;
    height: 600px;
    padding: 40px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
.logo{
    padding-top: 10px;
    padding-left: 5px;
    overflow: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px 8px 15px #ffffff;
}
.logo img{
    height: 90px;
    width: 90px;
}
.title{
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}
.sub-title{
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}
.fields{
    width: 100%;
    padding: 75px 5px 5px 5px; 
}
.fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.username, .password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, 
    inset -8px -8px 8px #ffffff;
}
.fields svg{
    height: 22px;
    margin: 0 10px -3px 25px;
}
.sign-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}
.sign-button:hover{
    background: #2fdbb6;
}
.sign-button:active{
    background: #1da88a;
}
.link{
    padding-top: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #aaa;
    font-size: 15px; 
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #ecf0f3;
}
@media(max-width: 400px){
    .neumor{
        transform: scaleY(1.1);
        transform: scaleX(0.9);
    }
    .username{
        transform: scaleY(0.6);
        transform: scaleX(0.9);
    }
    .password{
        transform: scaleY(0.6);
        transform: scaleX(0.9);
    }
}