*{
    box-sizing: border-box;
}
body{
    margin:0; 
    padding: 0;
}


section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

section .container .card{
    position: relative;
    width: 300px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5);
} 
section .container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
section .container .card:hover .box .content h4,
section .container .card:hover .box .content p{
    color: #fff;
}
section .container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20x;
    bottom: 20px;
    width: 85%;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
}

section .container .card .box .content{
    padding: 20px;
    text-align: center;
}
section .container .card .box .content h3{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 2em;
    color: rgba(0,0,0,0.5);
    transition: 0.5s;
} 
section .container .card:hover .box .content h3{
    color: rgba(0,0,0,0.05);
}
.container .card .box .content h3{
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
section .container .car .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
a:hover{
    background: #ff568f;
}