@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
}
body{
    margin:0; 
    background:#ecf0f3;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}
main{
    position: relative;
   height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    overflow: visible;
}
.login-div{
    position: relative;
    margin-top: 60px !important;
    width: 430px;
    height: 700px;
    padding: 20px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    overflow: visible;
}
.login-div2{
    position: relative;
    margin-top: 30px !important;
    width: 410px;
    height: 450px;
    padding: 20px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    overflow: visible;
}
.login-div3{
    position: relative;
    margin-top: 30px !important;
    width: 410px;
    height: 600px;
    padding: 20px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    overflow: visible;

}
textarea{
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: inset 8px 8px 8px #cbced1, 
    inset -8px -8px 8px #ffffff;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px 8px 15px #ffffff;
}
.logo .image{
    height: 90px;
    width: 90px;
    padding-right: 8px;
}
.logo .image2{
    position: absolute;
    height: 90px;
    width: 90px;
    padding-right: 8px;
}
.title{
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    color: goldenrod !important;
    letter-spacing: 0.5px;
    font-family: 'Abril Fatface', cursive;
}
.spam{
    color: #1DC4E7;
    font-family: 'Abril Fatface', cursive;
}
.sub-title{
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}
.fields{
    width: 90%;
    padding: 10px 5px 5px 5px; 
}
.fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 10px 10px 20px 5px;
}
.username, .password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, 
    inset -8px -8px 8px #ffffff;
}
.fields svg{
    height: 22px;
    margin: 0 10px -3px 25px;
}
.sign-button{
    position: absolute;
    right: -180px !important;
    top: 200px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    transform: rotate(90deg);
}
.sign-button2{
    position: absolute;
    right: -195px !important;
    top: 195px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 109%;
    height: 60px;
    border-radius: 40px 40px 0 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    transform: rotate(90deg);
}
.sign-button3{
    position: absolute;
    right: -270px !important;
    top: 270px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 145%;
    height: 60px;
    border-radius: 40px 40px 0 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    transform: rotate(90deg);
}
.sign-button:hover{
    background: #0b745b;
    color: crimson;
}
.sign-button:active{
    background: #9ee9d9;
}
.link{
    top: -30px;
    text-align: center;

}
.sign-button2:hover{
    background: #0b745b;
    color: crimson;
}
.sign-button3:hover{
    background: #0b745b;
    color: crimson;
}
.link a{
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}
 a:hover{
    color: crimson;
}
/* 
section area */
section{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    overflow:visible;
    height: 50vh;
    z-index: -2;
}
@media(max-width: 400px){
    .login-div{
        margin-top: 190px !important;
        transform: scale(0.8);
        height: 900px;
        overflow:visible;
    }
    header{
        overflow: visible;
    }
    .sign-button{
        right: -150px !important;
        top: 400px;
    }
    .login-div2{
        margin-top: 20px;
        transform: scale(0.7);
        height: 500px;
        position: relative;
        margin-top: 20px !important;
        width: 410px;
        height: 450px;
        padding: 1px 1px 1px 1px;
        border-radius: 40px;
        background: #ecf0f3;
        box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
        overflow: visible;
    }
    .sign-button2{
        position: absolute;
        right: -195px !important;
        top: 195px;
        outline: none;
        border: none;
        cursor: pointer;
        width: 125%;
        height: 60px;
        border-radius: 40px 40px 0 0;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        color: #fff;
        text-align: center;
        background: #24cfaa;
        box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
        transition: 0.5s;
        transform: rotate(90deg);
    }
    .login-div3{
        transform: scale(0.7);
    }
    .sign-button3{
        width: 166%;
    }
}

.validation{
    position: relative;
    top: -20px;
}

.nav-link{
    position: absolute;
    top: 5%;
    left: 10%;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    list-style:none;
    text-decoration: none;
}
.nav-link:hover{
    background-color: crimson;
}