@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
  padding: 0;
  margin: 0;
   background: #ecf0f3;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  position: absolute;
}
.head-cont{
  padding: 20px 20px 15px 30px !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  background: #22242A;
}
.head-cont .medlogo{
  position: relative;
  height: 40px;
  width: 40px;
}
.head-cont .medlogo2{
  position: absolute;
  margin-top: 15px;
  left: 25%;
  height: 40px;
  width: 40px;
}
@media(max-width: 400px){
  .head-cont .medlogo2{
    position: absolute;
    margin-top: 50px;
    left: 5%;
    height: 40px;
    width: 40px;
  }
}
#page-content-wrapper {
    position: absolute;
    width: 100%;
    top: 10px !important;
    left: 10px !important;
}

.head-cont h3{
  position: absolute;
  left: 50px;
  color: #CFD8DC;
    font-size: 3em;
    font-weight: 900;
}
h3 span{
  color: #1DC4E7;
}

.login{
  position: absolute;
  background: #1983D3;
  top: 20px;
  right:20px;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
  list-style:none;
  text-decoration: none;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.login:hover{
  background-color: crimson;
  color: crimson;
}


/* 
HEADER */

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}
/* 
searchbar */

button{
  cursor: pointer;
}

.searchTerm {
  width: 300px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 40px;
  top: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  cursor:pointer ;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media(max-width: 400px){
          .head-cont{
            height: 200px;
          }
          .head-cont h3{
            transform: scale(0.9);
          }
          .image{
            position: absolute;
            top: 100px !important;
            height: 500px !important;
            width: auto;
          }
          .sidebar{
            top: 40% !important;
            z-index:50 !important;
          }
        .searchTerm {
          width: 200px;
          position: relative;
          height: 35px;
          top: 30%;
        }
        .searchButton {
          position: relative;
          top: 30%;
          width: 35px;
          height: 35px;
          font-size: 15px;
        }
        .login{
          top: 60%;
        }
        .head-cont .medlogo{
          position: relative;
          left: -60px;
          top: -35% !important;
          transform: scale(1.2);
        }
        .big-title{
          position: absolute;
          top: 60% !important;
        }
        section .image{
          position: relative;
          top: 70px !important;
          transform: scale(0.9);
        }
        .about-p{
          font-weight: 200;
          font-size: 10px !important;
          line-height: 5px;
        }
        .about{
          padding-top: 300px;
          overflow: wrap;
          height: 600px;
          padding-bottom: 300px;
        }
        .about-logo{
          display:none;
        }
        .about-image{
          position: absolute;
          padding-top: 100px;
          background-image: -o-repeating-linear-gradient(0.0.0.0.2);
          background-repeat: space !important;
          height: 300px;
          width: 200px;
        }
        .container2{
          transform: scale(0.6);
        }
       
}
/* 
searchbar */

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/



.hamburger {
  top: 30px;
  position: fixed;
  z-index: 1;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  transform: translate3d(-100px,0,0);
  transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #1a1a1a;
}


.hamburger.is-closed .hamb-top { 
  top: 5px; 
 transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
 transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
 transform: rotate(45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  transform: rotate(-45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.sidebar{
    background: #2F323A;
    top: 20% !important;
    position: fixed;
    left: -250px;
    width: 250px;
    transition: 0.5s;
    transition-property: left;
    z-index: 20;
}
@media(max-width: 400px){
  .sidebar{
    top: 18% !important;
  }
}
.sidebar ul{
  width: 250px;
  background: #2F323A;
  z-index: 20;
}
.sidebar ul li{
  border-bottom: 1px solid #CFD8DC;
  z-index: 20;
}
.sidebar ul li a span{
  padding: 0 10px 0 10px;
  z-index: 20;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    z-index: 20;
}
.sidebar a:hover{
    background: #1983D3;
    color: crimson;
}


label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: poiter;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #19B3D3;
}
#check:checked ~ .sidebar{
    left: -190px !important;
}
#check:checked ~ .sidebar a span{
    display: none !important;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
/* 
Title */
.big-title{
  position: absolute;   
  width: 90vmin;
  height: 90vmin;
  left: 50%;
  right: 50%;
  z-index: 30;
  top: calc(60% - 2rem);
  transform: translate(-50%, -50%);
}
.big-title > div {
height: 50%;
overflow: hidden;
position: absolute;
width: 100%;
}
.big-title > div div {
position: absolute;
padding: 1vmin 0;
}
.big-title > div div ol {
display: block;
}
.big-title > div.text-top{
border-bottom: 1vmin solid #CFD8DC;
top:0;
}
.big-title > div.text-top div{
animation: zoom 1s;
animation-delay: 0.5s;
animation-fill-mode: forwards;
bottom: 0;
transform: translate(0, 100%);
}
.big-title > div.text-top div ol:first-child {
text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #CFD8DC;
}

.big-title > div.text-bottom {
bottom: 0;
}
.big-title > div.text-bottom div {
animation: zoom-out 0.5s;
animation-delay: 1.0s;
animation-fill-mode: forwards;
top: 0;
transform: translate(0, -100%);
}
@keyframes zoom-out {
0% { transform: translate3d(0, -100%, 0); }
100% { transform: translate3d(0, 0, 0); }
}

@keyframes zoom {
0% { transform: translate3d(0, 100%, 0); }
40%, 60% { transform: translate3d(0, 50%, 0); }
100% { transform: translate3d(0, 0, 0); }
}


.s1{
  position: relative;
  top: 30px;
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Abril Fatface', cursive;
  z-index: 30;
  text-align: center;
  line-height: 4rem;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #CFD8DC;
}
small{
font-size: 3rem;
font-weight: 500;
}
.small{
font-size: 3rem;
font-weight: 500;
text-decoration: underline;
}
.s2{
  position: relative;
  font-family: 'Abril Fatface', cursive;
  z-index: 30;
  line-height: 4rem;   
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #1983D3;  
}

.s3{
  position: relative;
  z-index: 30;
  font-family: 'Abril Fatface', cursive;
  line-height: 4rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #1983D3;
}

.image{
  position: absolute;
  top: 20% !important;
  height: 700px;
  width: auto;
}
/* ABOUT */
.about{
  position: absolute;
  z-index: 2;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.about-image{
  z-index: -2;
  transform: scale(1.4);
  opacity: 0.3;
}

.about-h{
  color: rgb(22, 21, 18);
  font-size: 3em;
  font-weight: 500;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
}
.about-p{
  padding-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
}

/* 
ABOUT */
/* 
SECTION */

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
section .container{
  position: absolute;
  top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

section .container .card{
    position: relative;
    width: 300px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5);
                
} 
section .container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
section .container .card:hover .box .content h4,
section .container .card:hover .box .content p{
    color: #fff;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20x;
    bottom: 20px;
    width: 85%;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
}

section .container .card .box .content{
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    overflow: hidden !important;
}
section .container .card .box .content h3{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 2em;
    color:black;
    transition: 0.5s;
    z-index: 12;
    font-family: 'Abril Fatface', cursive;
} 
section .container .card:hover .box .content h3{
    color: rgba(0,0,0,0.05);
}
 .content .card-title{
   padding-top: 20px;
   color: black;
    font-size: 1.2em;
    z-index: 1;
    transition: 0.5s;
    z-index: 12;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container .car .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    transition: 0.5s;
    z-index: 12;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important; 
    overflow-x: hidden !important;
}
.content .btn{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn2 {
    position: relative;
    text-align: center;
    left: 30%;
    border: 2px #2F323A;
}
a:hover{
    color: #ff568f;
}
/* FOR SINGLE COURSE ONLY */

section .container2 .card2{
    position: relative;
    width: 450px;
    height: 590px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5);
} 
section .container2 .card2:hover .box2{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
section .container2 .card2:hover .box2 .content2 h3,
section .container2 .card2:hover .box2 .content2 p{
    padding-top: 10px !important;
    color: #fff !important;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container2 .card2 .box2{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 10x;
    bottom: 20px;
    width: 90%;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
}

section .container2 .card2 .box2 .content2{
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
section .container2 .card2 .box2 .content2 h3{
    position: relative;
    top: 10px;
    font-size: 3em;
    color: black;
    transition: 0.5s;
    z-index: 20;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
} 
section .container2 .card2:hover .box2 .content2 h3{
    color: rgba(0,0,0,0.01);
}
 .content .card-title{
   padding-top: 20px;
   color: black;
    font-size: 2em;
    z-index: 1;
    transition: 0.5s;
    z-index: 12;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container2 .card2 .box2 .content2 p{
    font-size: 1.3em;
    font-weight: 300;
    color: #777;
    transition: 0.5s;
    z-index: 12;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
.content2 .btn{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.content2 a:hover{
    background: #ff568f;
}
.hidden{
  display:hidden !important;
  opacity: 0;
}
.space{
  width: 100%;
  height:20vh;
}

.nav-linker{
  position: absolute;
  top: 5%;
  left: 50%;
  cursor: pointer;
  height: 50px;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  list-style:none;
  text-decoration: none;
}
.nav-linker:hover{
  background-color: crimson;
}
.nav-link{
  background: #24cfaa;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  list-style:none;
  cursor: pointer;
  height: 50px;
  padding: 10px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 20px;
}
.nav-link:hover{
  background-color: #1983D3;
  color: crimson;
}
@media(max-width: 400px){
  .nav-link{
    position: relative;
    top: 70px;
  }
}
span{
  list-style: none !important;
  text-decoration: none !important;
}
.isAdmin{
  position: relative;
  padding: 10px;
  background-color: #1983D3;
  z-index: 40;
  border-radius: 35px;

}
.isAdmin a{
  color: #fff;
  list-style: none;
  text-decoration:  none;
}
@media(max-width: 400px){
  .isAdmin{
    top: 30%;
    left: -50px;
    transform: scale(0.8);
  }
}
.isAdmin:hover{
  background-color: crimson;
}
.nav-item a{
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.logout{
  position: absolute;
  right:0;
  margin-right: 20px;
}
.logout:hover{
  color: crimson !important;
}
.red{
  color: red !important;
}
#deleted{
  position: relative;
  top: 20px !important;
}

#adminButton:hover{
  color: crimson;
}

#zuitterNav{
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #CFD8DC;
  font-weight: 800;
  font-size: 1.8em;
}
@media(max-width: 400px){
  
#zuitterNav{
  position: relative;
  top: 30%;
  }

}

.logo-med{
  height: 130px;
  width: 150px;
}